.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
}

.product {
    border-radius: 10px;
    border: 2px solid #2A414F;
    width: 300px;
    height: 508px;
    position: relative;

}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info {
    margin-left: 14px;
}

.product-info p {
    margin-top: 5px;
}

.btn-cart {
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color:#f4c580 ;
}